@theme {
    --color-green-50: #D2FD9C;
    --color-green-100: #77912A;
    --color-green-150: #619111;
    --color-green-200: #394508;
    --color-gray-primary: #5D5D5D;
    --color-gray-second: #CBCBCB;
}